* {

}

title {

}

body {
  border: 5px dotted grey;
  height: 100vh;
  background: repeating-linear-gradient(
  -45deg,
  #f7f5e6,
  #f7f5e6 10px,
  #d80100 10px,
  #d80100 20px
  );
}

header {
  color: black;
  display: inline-flex;
}

main {
  background-color: black;
  margin: 1% 5%;
}

@font-face {
    font-family: 'Super Mario Bros 3';
    src: url('../font/Super-Mario-Bros-3.ttf') format('truetype');
}

h1 {

}

.cards {
  border: 1px solid salmon;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.card {
  border: 1px solid blue;
  margin: 2%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 11%;
  height: 100px;
  text-indent: -9999px;
  background-color: #ffbcb0;
  background: url('../images/ace-of-spade.jpg');
  background-size: contain;
}

.buttons {
  border: 1px solid red;
  margin: 10px 50px;
}

button {
  display: flex;
  width: 100%;
  height: 50%;
  color: white;
  background-color: black;
}

#display {
  border: 1px solid lightyellow;
  margin: 10px 50px;
  color: white;
  background-color: black;
  font-weight: bold;
}
